.backspace{
    height: 50px;
    background-color: purple;
}
.info-block
{
    display: grid;
    
    margin: 10px;
    margin-top: 30px;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width:900px) {
    .info-block{

        grid-template-columns: repeat(1, 1fr);
    }
}
.info-block img
{
    width: 100%;
    border: 2px solid black;
}
.pet-details{
    border: 2px solid black;
}
.pet-details button
{
    padding: 10px;
    font-size: 20px;
    background-color: purple;
    color: white;
}
